server:
  http_listen_port: {{ http_listen_port }}
  grpc_listen_port: {{ grpc_listen_port }}

positions:
  filename: {{ positions_path }}

client:
  url: http://{{ loki_server_ip }}:3100/api/prom/push

scrape_configs:
- job_name: system
  entry_parser: raw
  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      __path__: /var/log

